# Java
*.jar
!gradle/wrapper/*.jar

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Not sure what this is about.
.kotlin/

# Maven
build/
target/

# IDE
.idea/
out/

# macOS
.DS_Store

# Local config
.env
privateKey.pem
